<section class="phx-hero">
  <h1>Welcome to Knotes</h1>
  <p>We use <a href="https://trykno.app/">Kno passwordless authentication</a> to store your thoughts securely.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Notes</h2>
    <ul>
      <li>
        <%= link "View Your Notes", to: Routes.note_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Create Note", to: Routes.note_path(@conn, :new) %>
      </li>
    </ul>
  </article>
</section>
